e2e-1201-sample/e2e-1201-composites/ValidatePayment/SOA/WSDLs/ValidateRS.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="ValidateRS"
     targetNamespace="http://xmlns.oracle.com/e2e-1201-composites/ValidatePayment/ValidateRS"
     xmlns:tns="http://xmlns.oracle.com/e2e-1201-composites/ValidatePayment/ValidateRS"
     xmlns:inp1="http://www.oracle.com/soasample"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <plnk:partnerLinkType name="ValidateRS">
        <plnk:role name="ValidateRSProvider" portType="tns:ValidateRS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.oracle.com/soasample" schemaLocation="../Schemas/CanonicalOrder.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Validate_GET_inputMessage">
        <wsdl:part name="request" element="inp1:PaymentInfo"/>
    </wsdl:message>
    <wsdl:message name="Validate_GET_outputMessage">
        <wsdl:part name="reply" element="inp1:PaymentStatus"/>
    </wsdl:message>
    <wsdl:message name="Validate_POST_inputMessage">
        <wsdl:part name="request" element="inp1:PaymentInfo"/>
    </wsdl:message>
    <wsdl:message name="Validate_POST_outputMessage">
        <wsdl:part name="reply" element="inp1:PaymentStatus"/>
    </wsdl:message>
    <wsdl:portType name="ValidateRS_ptt">
        <wsdl:operation name="Validate_GET">
            <wsdl:input message="tns:Validate_GET_inputMessage"/>
            <wsdl:output message="tns:Validate_GET_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="Validate_POST">
            <wsdl:input message="tns:Validate_POST_inputMessage"/>
            <wsdl:output message="tns:Validate_POST_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
